body{
    font-family: 'inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    width: 100vw;
}
*{
    transition: all .4s ease-out;
}
.uploadContainer{
    width: 30%;
}
.uploadPlace{
    border: 1px dashed #7c7c7c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    position: relative;
    padding: 10px 5px;
}

.greenLight{
    background-color: rgba(221, 241, 231, 0.938);
}
.none{
    display: none !important;
    animation: fade-out .4s ease-out forwards;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dropingContainer img{
    width: 200px;
}
#profil{
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 22222222;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.prevous{
    height: 100%;
    width: 100%;
    /* background-color: rgba(109, 150, 129, 0.938); */
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row-reverse;
    padding: 10px 0px;
}
.btnManuel{
    z-index: 33333;
    color:rgb(23, 129, 75) ;
    text-decoration: none;
    font-size: 14px;
}
.btn-g{
    display: flex;
    gap: 10px;
}
button{
    height: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Submit-profil{
    background-color: rgb(23, 129, 75);
    color: #fffffe;
    
}
.cancelButton{
    background-color: rgb(129, 23, 23);
    color: #fffffe;
}
.img-raduis{
    border-radius: 5px;
    object-fit: cover;
}
.textDesc{
    font-size: 12px;
}
.under-line{
    text-decoration: underline;
}
.contB{
    display: grid;
    gap: 10px;
    width: 60%;
}
.kabe{
    background-color:rgba(221, 241, 231, 0.938);
    filter: blur(20px);
}
.congate{
    background: #fffffe;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 444444444444;
}
.contCong{
    padding: 10px;
    box-shadow: 1px -1px 4px rgb(220, 237, 228);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contCong div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contCong img{
    width: 40px;
    height: 40px;
}
.see-galerie{
    background: rgba(23, 32, 129, 0.847);
    color: white;
}
.galerieSet{
    display: flex;
}
.galerieSet img{
    width: 300px;
}
@keyframes fade-out {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.galerieSet{
    display: grid !important;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 30vh;
    overflow: scroll;
}
.galerieSet img{
    width: 100%;
    height: 100%;
}
@media screen and ( max-width:1020px ) {
    .uploadContainer{
        width: 40%;
    }
    .prevous{
        width: auto;
    }
    .galerieSet{
        display: flex !important;
        width: 100%;
        overflow: scroll;
        /* height: 80vh; */
        /* overflow-y: scroll; */
    }
    .contB{
        width: 60%;
    }
}
@media screen and ( max-width:600px ) {
    .contB{
        width: 100%;
    }
    .contCong{
        width: 80% !important;
    }
    .uploadContainer{
        width: 70%;
    }
    .prevous{
        flex-direction: column-reverse;
        width: auto;
        padding: 10px;
    }
    .img-raduis{
        width: 100% !important;
    }
    .galerieSet{
        display: flex ;
        width: 100%;
        /* height: 80vh; */
        overflow-y: scroll;
    }
    .galerieSet img{
        width: 80% !important;
        margin: 0 auto;
        height: fit-content !important;
    }
    .jjk{
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
}